
*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
/* font-family: 'Poppins', sans-serif; */
}


header{
max-width:100%;
height: 100vh;
display: grid;
grid-template-columns: 1fr 1fr 3fr;
}


header .logo{
padding-top: 50px;
padding-left: 50px;
}


nav{
display: inline-flex;
flex-basis: 50%;
}







